@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.main-container {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

div.cartList-container {
  padding: 0 1em;
}
div.cartList-container h4 {
  padding-top: 4em;
  color: #1D1E23;
}
div.cartList-container div.total-container {
  margin-top: 7em;
}
div.cartList-container div.total-container h5.sub-total {
  font-size: 20px;
}
div.cartList-container div.total-container a {
  padding: 0.7em;
}
div.cartList-container div.total-container a i {
  width: 20px;
}
div.cartList-container div.card {
  background: white;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  align-items: center;
}
div.cartList-container div.card img {
  width: 120px;
}
div.cartList-container div.card div.card-body {
  align-items: center;
  padding: 0;
  text-align: left;
}
div.cartList-container div.card div.card-body h5 {
  padding-top: 0.8em;
  font-weight: 600;
  font-size: 18px;
}
div.cartList-container div.card div.card-body p {
  padding-top: 0.4em;
  color: #6F6F6F;
  font-size: 14px;
}
div.cartList-container div.card div.card-body div.qty-container {
  margin-top: 2em;
  display: flex;
}
div.cartList-container div.card div.card-body div.qty-container input#itemQty {
  text-align: center;
  width: 67px;
  border: none;
  pointer-events: none;
  -moz-appearance: textfield;
}
div.cartList-container div.card div.card-body div.qty-container div.value-button {
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  padding: 0.2em;
}
div.cartList-container div.card div.card-body div.qty-container div.value-button i {
  font-size: 12px;
}
div.cartList-container div.card div.card-body div.card-foot {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.cartList-container div.card div.card-body div.card-foot h5.total {
  font-size: 16px;
}
div.cartList-container div.card div.card-body div.card-foot i.removeBtn {
  padding: 0 0.4em;
  font-size: 26px;
}

div.modal-dialog div.modal-content div.modal-header h5 {
  font-size: 22px;
}
div.modal-dialog div.modal-content div.modal-body div#order div.displayOrder {
  border: #888888 solid 1px;
  border-radius: 7px;
}
div.modal-dialog div.modal-content div.modal-body div#order h4 {
  font-size: 22px;
  font-weight: 600;
}
div.modal-dialog div.modal-content div.modal-body div#order h5 {
  text-align: left;
  font-size: 16px;
}
div.modal-dialog div.modal-content div.modal-body form {
  padding-top: 3em;
}

@media screen and (min-width: 768px) {
  div.cartList-container div.card {
    padding: 0 2em;
  }
  div.cartList-container div.card div.img-container img {
    width: 140px;
  }
  div.cartList-container div.card div.card-body h5 {
    font-size: 20px;
  }
  div.cartList-container div.card div.card-body p {
    font-size: 16px;
  }
  div.cartList-container div.card div.card-body div.qty-container div.value-button {
    max-width: 40px;
  }
  div.cartList-container div.card div.card-body div.card-foot h5 {
    font-size: 20px;
  }
}
@media screen and (min-width: 993px) {
  nav {
    padding: 0 3em;
  }
  div.cartList-container div.card {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  div.cartList-container div.card div.img-container {
    width: 20%;
  }
  div.cartList-container div.card div.card-body {
    padding: 1em;
  }
  div.cartList-container div.card div.card-body h5 {
    padding: 0;
    font-size: 18px;
    margin-bottom: 0px;
  }
  div.cartList-container div.card div.card-body p {
    font-size: 16px;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  div.cartList-container div.card div.card-body div.qty-container {
    margin-top: 0px;
    align-items: center;
    justify-content: center;
  }
  div.cartList-container div.card div.card-body div.qty-container div.value-button {
    padding: 0.8em;
    max-width: 40px;
  }
  div.cartList-container div.card div.card-body div.card-foot {
    gap: 3em;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  div.cartList-container div.card div.card-body div.card-foot h5 {
    font-size: 20px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  nav {
    padding: 0 7em;
  }
  div.cartList-container {
    padding: 0 6em;
  }
  div.cartList-container div.card div.img-container {
    width: 14%;
  }
  div.cartList-container div.card div.card-body h5 {
    font-size: 20px;
  }
  div.cartList-container div.card div.card-body p {
    font-size: 20px;
  }
  div.cartList-container div.card div.card-body div.card-foot h5.total {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  div.hero-container {
    padding-top: 4em;
  }
  div.hero-container div.left-content div.text-content h1 {
    font-size: 70px;
  }
  div.hero-container div.left-content a.btn-dark {
    width: 30%;
    padding: 1em;
  }
  p.shopCateg {
    font-size: 20px;
    padding: 0 5em;
  }
  div.item-container button.btnModal img {
    max-width: 100%;
  }
  div.item-container button.btnModal h5 {
    font-size: 22px;
  }
  div.item-container button.btnModal p {
    font-size: 20px;
  }
  div.item-container div.modal-card div.modal-content div.modal-header h5 {
    font-size: 22px;
  }
  div.item-container div.modal-card div.modal-content div.modal-body img {
    max-width: 100%;
  }
  div.item-container div.modal-card div.modal-content div.modal-body div.col h5 {
    font-size: 22px;
  }
  div.item-container div.modal-card div.modal-content div.modal-body div.col p {
    font-size: 20px;
  }
  div.item-container div.modal-card div.modal-content div.modal-body label.labelQty {
    margin-top: 3em;
  }
}
@media screen and (min-width: 1390px) {
  div.cartList-container {
    padding: 0 13em;
  }
  div.cartList-container div.card {
    padding: 0 1em;
  }
}/*# sourceMappingURL=cart.css.map */