@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font
$font: 'Poppins', sans-serif;

// Colors
$bg: #E1E1EA;
$bg-hero: #DADAE2;
$bg-black: #211F29;
$bg-orange: #F9AB64;
$bg-violet: #6F42C1;
$font-black: #1D1E23;


// Hero Section
div.main-container{
  font-family: $font;
  background-color: #E1E1EA;
  padding-top: 7em;
  section.hero-container{
    padding: 3em 1em;
    border-radius: 32px 32px 0 0;
    background: $bg-hero;
    box-shadow: 1px -2px 36px 3px rgba(0,0,0,0.34);
    -webkit-box-shadow: 1px -2px 36px 3px rgba(0,0,0,0.34);
    -moz-box-shadow: 1px -2px 36px 3px rgba(0,0,0,0.34);
    div.left-content{
      text-align: center;
      small{
        color: #6d6d6d;
        font-size: 16px;
        font-weight: 700;
      }
      h1{
        font-size: 38px;
        color: $font-black;
        font-weight: 700;
      }
      p{
        padding-top: 2em;
        font-size: 16px;
        color: $font-black;
        padding-bottom: 2em;
      }
      a.btnShop{
        background: $bg-violet;
        color: #ffff;
        font-weight: bold;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      a.btnShop:hover {
        // box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
        box-shadow: 2px 2px #53a7ea, 4px 4px #53a7ea, 6px 6px #53a7ea;
        transform: translateX(17px);
        }
    }
    div.right-content{
      display: none;
    }
  }
}

section.store-container{
  padding:  4em 1em;
  div.store{
    iconify-icon{
      font-size: 28px;
    }
    div.info-content{
      display: flex;
      
      div.body-info{
        text-align: left;
        margin-left: .7em;
        h5{
          font-weight: 600;
          font-size: 16px;
          color: $font-black;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
}

section.product-container{
  padding: 0 1em;
  div.search-container{
    p{
      font-size: 14px;
    }
    div.input-group{
      width: 100%;
      display: flex;
    }
    div.dropdown{
      button{
        text-transform: capitalize;
        font-size: 14px;
      }
    }
  }

  div.item-container{
    padding: 2em 0;
      display: grid;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;
      grid-template-columns: 1fr 1fr;
      div.card-container{
        padding: .7em;
        background: none;
        margin: 0;
          img{
              margin: auto;
              display: flex;
              justify-content: center;
              width: 50%;
          }
          div.card-body{
            h5{
              color: $font-black;
              font-weight: bold;
              font-size: 16px;
            }
            padding: 0;
           text-align: center;
          }
          a.addItemBtn{
            padding: 10px;
            color: #fff;
            background: $bg-violet;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 14px;
          }
      }
  }

  div.pagination-container{
    justify-content: center;
    display: flex;
    margin-bottom: 2em;
}
}

//About Container
section.about-container{
  background: $bg-black;
  color: #fff;
}


@media screen and(min-width: 574px){
  div.main-container{
    section.product-container{
      div.item-container{
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 1em;
      }
    }
  }
}

@media screen and(min-width: 768px){
  //ITEM SECTION
  div.main-container{
    padding: 7em 0;
    section.hero-container{
      border-radius: 0;
      box-shadow: none;
      div.left-content{
        h1{
          font-size: 32px;
        }
        p{
          padding: 2em 4em;
          font-size: 16px;
        }
      }
    }
    div.item-container{
      justify-content: center;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 1em;
      div.card-container{
        a{
          max-width: 137px;
          margin: 0 auto;
        }
      }
    }

    section.product-container{
      div.pagination-container{
        margin: 0;
      }
    }

  }
}

@media screen and(min-width: 993px){
    nav{
      padding: 0 3em;
    }

    div.main-container{
      padding: 1em 0;
      section.hero-container{
        background-image: url(/assets/img/hero-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        box-shadow: none;
        padding: 4em 4em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        div.left-content{
          padding-top: 3em;
          small{
            font-size: 16px;
            color: #b7b7b7;
            font-weight: 600;
          }
          h1{
            font-size: 38px;
            margin-bottom: 1em;
            color: #fff;
          }
          text-align: left;
          margin: 0;
          p{
            color: #fff;
            font-size: 14px;
            padding: 0;
            margin-bottom: 1.8em;
          }
        }
        // div.right-content{
        //   display: block;
        //   // img{
        //   //   display: flex;
        //   //   justify-content: flex-end;
        //   //   width: 500px;
        //   //   right: 0;
        //   //   float: inline-end;
        //   //   // width: 100%;
        //   // }
        // }
      }

      section.store-container{
        padding: 4em 4em;
        div.store{
          display: flex;
        }
        div.info-content{
          display: flex;
          flex-direction: column;
          gap: 1.8em;

          div.body-info{
            justify-content: space-between;
            margin: 0;
            width: 300px;
            h5{
              font-size: 16px;
              font-weight: 700;
            }
            p{
              padding-top: .8em;
              font-size: 12px;
            }
          }
        }
      }

      section.product-container{
        padding: 0 4em;
        p{
          color: $font-black;
          font-size: 20px;
        }
        p.popular{
          font-size: 16px;
        }
        div.dropdown{
          button{
            box-shadow: none;
            background: none;
            text-align: left;
            padding: 1.4em;
            font-size: 18px;
            font-weight: bold;
            color: $font-black;
          }
        }

        div.item-container{
          justify-content: center;
          align-items: center;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;

          div.card-container{
            a.addItemBtn{
              color: #fff;
              background-color: $bg-violet;
              border-radius: 4px;
              cursor: pointer;
              font-size:14px;
              box-shadow: 0 0 4px #999;
              background-position: center;
              transition: background 0.6s;
            }
            a.addItemBtn:hover {
              background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
              color: white;
              }
              a.addItemBtn:active{
              background-color:#292d3e;
              background-size: 100%;
              transition: background 0s;
              }
          }
        }
      }
    }
}

@media screen and(min-width: 1063px){
  div.main-container{
    section.hero-container{
      padding: 6em 4em;
      div.left-content{
        h1{
          font-size: 42px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and(min-width: 1144px){
  div.main-container{
    section.hero-container{
      padding: 8em 4em;
      div.left-content{
        h1{
          font-size: 46px;
          align-items: center;
          justify-items: center;
           }
      }
    }
    section.store-container{
      div.store{
        gap: 3em;
      }
    }
  }
}

@media screen and(min-width: 1200px){
  nav{
    padding: 0 7em;
  }
  div.main-container{
    section.hero-container{
      grid-template-columns: 2fr 1fr;
      padding: 12em 8em;
        div.left-content{
          small{
            font-size: 20px;
          }
          h1{
          font-size: 54px;
          margin:0;
          }
          p{
            padding-top: 1.4em;
            font-size: 16px;
            width: 450px;
          }
          a.btnShop{
            padding: 1.3em;
          }
        }

        div.right-content{
          img{
            width: 600px;
          }
        }

    }
    section.store-container{
      padding: 4em 8em;
      div.store{
        gap: 4em;
      }
      div.info-content{
        div.body-info{
          h5{
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
    section.product-container{
      padding: 4em 8em;
      div.search-container{
        input{
          padding: .4em;
        }
        label{
          font-size: 16px;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px){
  div.main-container{
    section.hero-container{
      div.left-content{
        grid-template-columns: 1fr 1fr;
        h1{
          font-size: 72px;
        }
        p{
          font-size: 18px;
        }
      }
    }
    section.store-container{
      div.store{
        gap: 7em;
      }
      div.info-content{
        div.body-info{
          p{
            font-size:14px;
          }
        }
      }
    }
  }
}
