@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$bg-body: #F2F2F2;
$bg-head: #4656F5;
$gray-font: #adb5bd;
$black-font: #212529;
$white-font: #fff;

$font: 'Poppins', sans-serif;



div.main-container{
    background: $bg-body;
    font-family: $font;
}

html{
    scroll-behavior: smooth;
}

div.main-container{
    padding: 5em 1em;

    div.form-container{
      div.left-content{
        div.left-head{
          padding: 1.7em;
          background: $bg-head;
          text-align: center;
          align-items: center;
          justify-content: center;
          color: $white-font;
        }
        div.img-container{
          img{
            display: none;
          }
        }
      }
      div.right-content{
        div.right-head{
          padding: 2em;
          align-items: center;
          text-align: center;

          h1{
            color: $black-font;
              font-weight: 600;
          }
          p{
            align-items: center;
            text-align: center;
            font-size: 14px;
        }
        }
        div.form-content{
          margin-bottom: 7em;
          h1{
            font-size: 20px;
           font-weight: normal;
          }
          input{
            background: #D9D9D9;
            border-radius: 7px;
        }
        button{
          width: 100%;
        }
        }
      }
    }
}

// TABLET VIEW 768
@media screen and (min-width: 768px){
  div.main-container{
    div.form-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      div.left-content{
        div.left-head{
          h1{
            font-size: 22px;
          }
          p{
            font-size: 14px;
          }
        }
        div.img-container{
          img{
            display: block;
            width: 100%;
          }
        }
      }
      div.right-content{
        div.right-head{
          h1{
            font-size: 22px;
          }
          p{
            font-size: 14px;
          }
        }
        form{
          padding: 0 2em;
        }
      }
    }
  }
}

@media screen and (min-width: 993px){

//NAVIGATION SECTION
nav{
  padding: 0 3em;
}

       div.main-container{

        div.form-container{
          div.left-content{
            h1{
              font-size: 26px;
            }
          }
          div.right-content{
            div.right-head{
              h1{
                font-size: 26px;
              }
            }
            form{
            padding: 1.8em;
            h1{
                font-size: 24px;
            }
            p{
                font-size: 16px;
            }
          }
          }
        }
    }
}

// LAPTOP VIEW 1200
@media screen and(min-width: 1200px){
  nav{
    padding: 0 7em;
  }

 div.main-container{

        div.form-container{
        padding: 0 5em;
          div.left-content{
            h1{
              font-size: 26px;
            }
          }
          div.right-content{
            div.right-head{
              h1{
                font-size: 26px;
              }
            }
            form{
              div.card{
                  padding: 1.8em;
                  h1{
                      font-size: 24px;
                  }
                  p{
                      font-size: 16px;
                  }
              }
              button{
                  width: 50%;
              }
          }
          }
        }
    }
}

// DESKTOP VIEW 1280
// @media screen and (min-width: 1280px){

// }

@media screen and (min-width: 1390px){
      div.main-container{
        padding: 5em 10em;

          div.form-container{
            padding: 0 4em;
            form{ 
              padding: 1.8em;
              h1{
                  font-size: 24px;
              }
              p{
                  font-size: 16px;
              }
            }
          }
      }
}